<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard Document Management</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/isp" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/isp.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">ISP (Integrated System Procedure)</h5>
                  <h3 class="card-title mb-2 text-center">1</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/wi" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/wi.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">WI (Work Instruction)</h5>
                  <h3 class="card-title mb-2 text-center">1</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/form" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/form.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">FORM</h5>
                  <h3 class="card-title mb-2 text-center">1</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
