<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard Document Management</h1>
    <h1>Selamat datang , {{ ControlService.fullname }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div
      *ngIf="dataDocument.length"
      class="alert alert-dismissible fade show"
      role="alert"
      style="border-radius: 20px; background-color: #fed049"
    >
      <h4 class="alert-heading">Reminder!</h4>
      <p>
        Halo, <strong>{{ userFound }}</strong>
      </p>
      <div
        *ngFor="let item of dataDocument"
        style="background-color: #ffe15d; border-radius: 15px"
        class="mb-3 p-2"
      >
        <p>
          Dokumen <strong>{{ item.Category.name }}</strong> dengan judul
          <strong>{{ item.title }} </strong> dan nomor dokumen
          <strong>{{ item.noDoc }}</strong> akan segera memasuki masa tenggang
          pada tanggal <strong>{{ item.expDate }}</strong> atau
          <strong>{{ item.diffDate }}</strong> hari lagi
        </p>
        <hr />
        <p class="mb-0">
          Cek dokumen <a routerLink="/show/{{ item.id }}">disini</a>
        </p>
      </div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/isp" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/isp.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">ISP (Integrated System Procedure)</h5>
                  <h5 class="text-center">{{ isp }}</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/wi" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/wi.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">WI (Work Instruction)</h5>
                  <h3 class="card-title mb-2 text-center">{{ wi }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/form" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/form.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">FORM</h5>
                  <h3 class="card-title mb-2 text-center">{{ form }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a routerLink="/others" class="mt-3">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/others.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Others</h5>
                  <h3 class="card-title mb-2 text-center">{{ others }}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
